@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Communications/Scripts/communicationsClient.js"></script>
}

<input type="button" id="userToUser" value="Send a message to a specific user" />
<br /><br />
<input type="button" id="toAllUsersInOrganization" value="Send a message to all users in an organization" />
<br /><br />
<input type="button" id="toAllUsersInAllOrganizations" value="Broadcast a message to everyone" />
<br /><br />
<input type="button" id="withSave" value="Send a message with save enabled" />
<br /><br />
<input type="button" id="withoutSave" value="Send a message with save disabled" />
<br /><br />
<hr />
<label id="messageTitle"></label>
<br />
<label id="messageContent"></label>